.container {
	background-color: #2670FF;
	height: 7rem;
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.title {
	margin: 0;
}

.gear {
	padding: 0 1rem;
	margin: 0;
}

.title, .gear {
	color: var(--header__text);
	font-size: 3rem;
}