.container {
	display: relative;
	width: 100%;
	background-color: #2670FF;
	height: 70px;
}

.title {
	margin: 0;
	text-align: center;
	display: absolute;
	bottom: 0;

}

.gear {
	display: absolute;
	margin: 0;
}

.title, .gear {
	color: #fff;
	font-size: 30px;
}


/* Create a global variables css file */