.container {
  position: sticky;
  top: 0;
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.smallContainer {
  @extend .container;
  padding-bottom: 1rem;
  transition: 0.2s;
}

.scoreContainer {
  display: flex;
  flex-direction: row;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  transition: 0.2s;

  .smallContainer & {
    font-size: 1rem;
  }
}

.pillsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.4rem;
}