:root {
	/* Colours */
	--primary-colour: #2670ff;
	--header__text: #fff;

	--scale1: rgb(081, 094, 208);
	--scale2: rgb(125, 076, 161);
	--scale3: rgb(168, 057, 115);
	--scale4: rgb(211, 038, 068);
	--scale5: rgb(255, 021, 020);

	/* Font Sizes */

	/* Margin and Padding */
}
